.tokens-grid {
  width: 100%;
  font-family: sans-serif;
  border-collapse: collapse;
}

.tokens-grid tbody td:first-child {
  border-radius: 8px 0 0 8px;
}

.tokens-grid tbody td:last-child {
  border-radius: 0 8px 8px 0;
}
